<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Candidate Information</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="fragments/header :: header"></div>

<!-- Sidebar menu-->
<div th:replace="fragments/menu :: menu"></div>

<main class="app-content">
    <div>
        <h2>Candidate</h2>
    </div>
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item">
                <a href="/api/v1/candidates/list_candidates">Candidate List</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a th:href="@{/candidates/candidate_detail/{id}(id=${candidate.getId()})}">Candidate Information</a>
            </li>
        </ul>
        <div th:if="${user.roleId != 4 && candidate.status!='Banned'}">
            <button type="button" class="btn btn-red"
                    onclick="showBanModal()">
                <i class="fas fa-user-slash"></i> Ban Candidate
            </button>
        </div>
        <div th:if="${user.roleId != 4 && candidate.status=='Banned'}">
            <button type="button" class="btn btn-success"
                    onclick="showUnbanModal()">
                <i class="fas fa-user"></i> Unban Candidate
            </button>
        </div>
        <input type="hidden" id="candidateId" th:value="${candidate.getId()}">
    </div>
    <div class="view-container">
        <div class="row">
            <h5 class="col-md-8">I. Personal information</h5>
            <p class="col-md-4" style="font-style: italic" th:text="'Created on ' + ${candidate.formattedCreateDate} +
            ', last updated by ' + ${candidate.modifiedBy} + ' ' + ${candidate.formattedModifiedDate}"></p>

        </div>
        <div class="row">
            <div class="col-md-6 info-row">
                <span class="label">Full name:</span>
                <span class="value" th:text="${candidate.fullName}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Email:</span>
                <span class="value" th:text="${candidate.email}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">D.O.B:</span>
                <span class="value" th:text="${candidate.getFormattedDob()}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Address:</span>
                <span class="value" th:text="${candidate.address}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Phone number:</span>
                <span class="value" th:text="${candidate.phone}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Gender:</span>
                <span class="value" th:text="${candidate.gender}"></span>
            </div>
        </div>

        <h5 class="mt-4">II. Professional information</h5>
        <div class="row">
            <div class="col-md-6 info-row">
                <span class="label">CV attachment:</span>
                <a th:href="${candidate.cvLink}" target="_blank" class="value" th:text="${candidate.getCvFileName()}"></a>
                <i class="fas fa-edit"></i>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Current Position:</span>
                <span class="value" th:text="${candidate.currentPosition}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Skills:</span>
                <span class="value" th:text="${candidate.skills}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Recruiter:</span>
                <span class="value" th:text="${candidate.ownerHR}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Status:</span>
                <span class="value" th:text="${candidate.status}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Year of Experience:</span>
                <span class="value" th:text="${candidate.yoe}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Highest level:</span>
                <span class="value" th:text="${candidate.highestLevel}"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Note:</span>
                <textarea class="form-control" rows="5" readonly style="overflow-y: auto; resize: none; pointer-events: none;"
                          th:text="${candidate.note != null ? candidate.note : 'N/A'}"></textarea>
            </div>

        </div>
        <div class="buttons">
            <a th:href="@{/candidates/update_candidate/{id}(id=${candidate.getId()})}" th:if="${user.roleId != 4}">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
            <a href="/api/v1/candidates/list_candidates">
                <button type="button" class="btn btn-secondary">Cancel</button>
            </a>
        </div>
    </div>
    <!-- Modal -->
    <div id="banModal" class="modal-overlay">
        <div class="modal-content">
            <h3>Are you sure you want to ban this candidate?</h3>
            <div class="modal-buttons">
                <button onclick="banCandidate()" class="btn btn-danger">
                    Ban
                </button>
                <button onclick="hideBanModal()" class="btn btn-cancel">
                    Cancel
                </button>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="unbanModal" class="modal-overlay">
        <div class="modal-content">
            <h3>Are you sure you want to unban this candidate?</h3>
            <div class="modal-buttons">
                <button onclick="unbanCandidate()" class="btn btn-success">
                    Unban
                </button>
                <button onclick="hideUnbanModal()" class="btn btn-cancel">
                    Cancel
                </button>
            </div>
        </div>
    </div>

</main>
<!-- Candidate Information CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/static/candidate/css/candidate_infor.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/common/css/modal_delete.css}"/>

<script th:src="@{/static/common/js/main.js}"></script>
<script th:src="@{/static/common/js/escape_html.js}"></script>
<script th:src="@{/static/candidate/js/candidate_infor.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXlZg2K2RJGv6hD6gPZrGFIH1Kp3g9zIdenqUewg+kq2aA/tlW1LNsE/lWX/"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiH0eK6E4S8gaq2qkW2giKdf9/TV/rf9Wf3yDdiRIUmdXwB68jzWl7foI"
        crossorigin="anonymous"></script>
</body>
</html>
