<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Offer Detail</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <div th:replace="fragments/header :: header"></div>
    <!-- Sidebar menu-->
    <div th:replace="fragments/menu :: menu"></div>
    <main class="app-content">
        <div>
            <h2>Offer</h2>
        </div>
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <a href="/api/v1/offer/offer-list">Offer List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a th:href="@{/offer/offer-detail/{id}(id=${offer.getInterviewId()})}">Offer Detail</a>
                </li>
            </ul>
        </div>
        <p class="col-md-12 text-end" style="font-style: italic"
            th:text="'Created on ' + ${offer.formattedCreateDate} + ', last updated by ' + ${offer.modifiedBy} + ' on ' + ${offer.formattedModifiedDate}">
        </p>
        <div class="view-container">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end" th:if="${isManagerOrAdmin && offer.status == 1 }">
                    <!-- Approve and Reject buttons only visible if offer is not rejected -->
                    <button type="button" class="btn btn-success mr-2"
                        th:onclick="'approveOffer(' + ${offer.InterviewId} + ')'">Approve</button>
                    <button type="button" class="btn btn-danger mr-2"
                        th:onclick="'rejectOffer(' + ${offer.InterviewId} + ')'">Reject</button>
                    <button type="button" class="btn btn-warning mr-2"
                        th:onclick="'cancelOffer(' + ${offer.InterviewId} + ')'">Cancel Offer</button>
                </div>

                <div class="col-md-12 d-flex justify-content-end" th:if="${isNotEnterview && offer.status == 2}">
                    <button type="button" class="btn btn-light-blue mr-2"
                        th:onclick="'sentOffer(' + ${offer.InterviewId} + ')'">Mark as Sent to Candidate</button>
                    <button type="button" class="btn btn-warning mr-2"
                        th:onclick="'cancelOffer(' + ${offer.InterviewId} + ')'">Cancel Offer</button>
                </div>

                <div class="col-md-12 d-flex justify-content-end">
                    <div th:if="${isNotEnterview && offer.status == 4}">
                        <button type="button" class="btn btn-light-blue mr-2"
                            th:onclick="'acceptOffer(' + ${offer.InterviewId} + ')'">Accepted Offer</button>
                        <button type="button" class="btn btn-light-pink mr-2"
                            th:onclick="'declinedOffer(' + ${offer.InterviewId} + ')'">Declined Offer</button>
                        <button type="button" class="btn btn-warning mr-2"
                            th:onclick="'cancelOffer(' + ${offer.InterviewId} + ')'">Cancel
                            Offer</button>
                    </div>
                </div>
                <div class="col-md-12 d-flex justify-content-end">
                    <div th:if="${isNotEnterview && offer.status == 5}">
                        <button type="button" class="btn btn-warning mr-2"
                            th:onclick="'cancelOffer(' + ${offer.InterviewId} + ')'">Cancel
                            Offer</button>
                    </div>
                </div>
                <div id="statusOfferError" class="alert alert-danger" th:if="${statusOfferError != null}" th:text="${statusOfferError}"></div>
                <!-- Modal Confirmation -->

                <div class="col-md-6 info-row">
                    <label for="candidate-name" class="label">Candidate :</label>
                    <span class="value" th:text="${offer.candidateName}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="position" class="label">Position :</label>
                    <span class="value" th:text="${offer.position}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="level" class="label">Level: </label>
                    <span class="value" th:text="${offer.level}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="approve" class="label">Approver :</label>
                    <span class="value" th:text="${offer.approver}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="recruiter" class="label">Recruiter Owner :</label>
                    <span class="value" th:text="${offer.recruiter}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="contract-type" class="label">Contract Type :</label>
                    <span class="value" th:text="${offer.contractType}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="department" class="label">Department :</label>
                    <span class="value" th:text="${offer.department}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="interview-info" class="label">Interview Info :</label>
                    <span class="value" th:text="${offer.interviewinfo}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="contract-period" class="label">Contract Period :</label>
                    <div class="date-range">
                        <span class="value" th:text="'From : ' + ${offer.periodfrom}"></span>
                        <span class="value" th:text="'To : ' + ${offer.periodto}"></span>
                    </div>
                </div>
                <div class="col-md-6 info-row">
                    <label for="due-date" class="label">Due Date :</label>
                    <span class="value" th:text="${offer.duedate}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="basic-salary" class="label">Basic Salary :</label>
                    <span id="basic-salary" class="value" th:text="${offer.salary}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="status" class="label">Status :</label>
                    <span id="status" class="value" th:text="${offer.status}"></span>
                </div>
                <div class="col-md-6 info-row">
                    <label for="interview-notes" class="label">Interview Notes :</label>
                    <span class="value" th:text="${#strings.isEmpty(offer.note) ? 'N/A' : offer.note}"></span>

                </div>
                <div class="col-md-6 info-row">
                    <label for="note" class="label">Note :</label>
                    <span class="value" th:text="${#strings.isEmpty(offer.OfferNote) ? 'N/A' : offer.OfferNote}"></span>
                </div>
            </div>
        </div>
        <div class="buttons">
            <!-- Disable Edit button if offer status is approved -->
            <a th:href="@{/offer/offer-edit/{id}(id=${offer.getInterviewId()})}">
                <button type="button" class="btn btn-primary" th:if="${offer.status == 1}">Edit</button>
            </a>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
        </div>
        </div>
    </main>
    <!-- Candidate Information CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/offer/css/offer_detail.css}" />
    <script th:src="@{/static/offer/js/submit_offer.js}"></script>
    <script th:src="@{/static/offer/js/offer_format.js}"></script>
    <script th:src="@{/static/offer/js/confirm_change.js}"></script>
    <script th:src="@{/static/common/js/main.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>

</html>