<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Offer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <div th:replace="fragments/header :: header"></div>
    <!-- Sidebar menu-->
    <div th:replace="fragments/menu :: menu"></div>
    <!-- Main Content-->
    <main class="app-content">
        <div>
            <h2>Edit Offer</h2>
        </div>
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <a href="/offer/offer-list">Offer List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="#">Edit Offer</a>
                </li>
            </ul>
        </div>
        <form id="editOffer" onsubmit="submitEditForm(event)">
            <div class="form-container">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="candidate-name" class="form-label">Candidate<span
                                class="text-danger">*</span></label>
                        <input type="text" id="candidate-name" class="form-control" th:value="${offer.candidateName}"
                            readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="position" class="form-label">Position<span class="text-danger">*</span></label>
                        <input type="text" id="position" class="form-control" th:value="${offer.position}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="level" class="form-label">Level<span class="text-danger">*</span></label>
                        <input type="text" id="level" class="form-control" th:value="${offer.level}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="recruiter" class="form-label">Recruiter Owner<span
                                class="text-danger">*</span></label>
                        <input type="text" id="recruiter" class="form-control" th:value="${offer.recruiter}" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="interview-info" class="form-label">Interview Info</label>
                        <input type="text" id="interviewinfo" class="form-control" th:value="${offer.interviewinfo}"
                            readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="approver" class="form-label">Approver<span class="text-danger">*</span></label>
                        <select id="approver" name="approver" class="form-select">
                            <option value="" disabled>Select Approver</option>
                            <th:block th:each="m : ${managers}">
                                <option th:value="${m.getId()}"
                                    th:text="${m.getFullname()} + ' (' + ${m.getUsername()} + ')'"
                                    th:selected="${m.getId()} == ${offer.getApprover()}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="contract-type" class="form-label">Contract Type<span
                                class="text-danger">*</span></label>
                        <select class="form-control" id="contractType">
                            <option value="" disabled>Select Contract Type</option>
                            <option th:each="contracttype : ${contracttypes}" th:value="${contracttype.categoryId}"
                                th:text="${contracttype.categoryValue}"
                                th:selected="${contracttype.categoryId} == ${offer.contractType}" readonly>
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="department" class="form-label">Department<span class="text-danger">*</span></label>
                        <select class="form-control" id="department">
                            <option value="" disabled>Select Department</option>
                            <option th:each="department : ${departments}" th:value="${department.categoryId}"
                                th:text="${department.categoryValue}"
                                th:selected="${department.categoryId} == ${offer.department}">
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="contract-period">Contract Period<span class="text-danger">*</span></label>
                        <div class="d-flex justify-content-around">
                            <div>
                                <span class="me-2">From:</span>
                                <input type="date" placeholder="DD/MM/YYYY" id="periodfrom" class="form-control"
                                    th:value="${offer.periodfrom}">
                                <input type="hidden" id="contractFromAfterToday">
                                <p class="error text-danger"></p>
                            </div>
                            <div>
                                <span class="me-2">To:</span>
                                <input type="date" placeholder="DD/MM/YYYY" id="periodto" class="form-control"
                                    th:value="${offer.periodto}">
                                <input type="hidden" id="contractToAfterFrom">
                                <p class="error text-danger"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="due-date" class="form-label">Due Date<span class="text-danger">*</span></label>
                        <input type="date" id="duedate" class="form-control" th:value="${offer.duedate}">
                        <input type="hidden" id="dueDateWithinPeriod">
                        <p class="error text-danger"></p>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="basic-salary" class="form-label">Basic Salary<span
                                class="text-danger">*</span></label>
                        <input type="text" id="salary" class="form-control" th:value="${offer.salary}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="note" class="form-label">Note</label>
                        <input type="text" id="OfferNote" class="form-control" th:value="${offer.offerNote}">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="interview-notes" class="form-label">Interview Notes</label>
                        <textarea id="interview-notes" class="form-control"
                            th:text="${#strings.isEmpty(offer.interviewNote) ? 'N/A' : offer.interviewNote}"
                            readonly></textarea>
                    </div>
                    <input type="hidden" id="interviewId" th:value="${offer.InterviewId}">
                </div>
                <!-- Submit and Cancel Button-->
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
                </div>
            </div>
        </form>
        <!-- End Form Container-->

        <!-- Success Modal -->
        <div id="successModal" class="modal-overlay">
            <div class="modal-content">
                <h3 th:text="${successMessage}"></h3>
                <div class="modal-buttons">
                    <a href="/api/v1/offer/offer-list">
                        <button class="btn btn-success">
                            Ok
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Fail Modal -->
        <div id="failModal" class="modal-overlay">
            <div class="modal-content">
                <h3 th:text="${errorMessage}"></h3>
                <div class="modal-buttons">
                    <button class="btn btn-danger" onclick="hideFailModal()">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </main>
    <!-- Common Page JS-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/offer/css/offer_create.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/common/css/modal_success.css}" />
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script th:src="@{/static/common/js/main.js}"></script>
    <script th:src="@{/static/offer/js/offer_create.js}"></script>
    <script th:src="@{/static/offer/js/offer_edit.js}"></script>
    <script th:src="@{/static/offer/js/submit_offer.js}"></script>
    <script th:src="@{/static/offer/js/offer_format.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>

</html>