<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DEV IMS - Offer</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Main CSS-->
</head>

<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button -->
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu -->
        <ul class="app-nav" style="display: flex; align-items: center">
            <!-- User Info -->
            <li style="margin-right: 10px; text-align: right">
                <h5 style="color: bisque; margin: 0">hahaha</h5>
                <h6 style="color: #9dc1d3; margin: 0">HR Department</h6>
            </li>
            <!-- User Icon -->
            <li style="margin-right: 20px">
                <i class="bx bx-user" style="font-size: 24px; color: whitesmoke"></i>
            </li>
            <!-- Logout -->
            <li>
                <a href="/logout" style="color: white; text-decoration: underline">Logout</a>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <!-- Navbar-->
    <div th:replace="fragments/header :: header"></div>
    <!-- Sidebar menu-->
    <div th:replace="fragments/menu :: menu"></div>
    <main class="app-content">
        <div>
            <h2>Offer</h2>
        </div>
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <a href="/api/v1/offer/offer-list">Offer List</a> <!-- Mục đầu tiên: Candidate List -->
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="#">Create New Offer</a> <!-- Mục thứ hai: Create Candidate -->
                </li>
            </ul>
        </div>
        <form id="createOffer" onsubmit="submitForm(event)">
            <div class="form-container">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="candidate-name" class="form-label">Candidate<span
                                class="text-danger">*</span></label>
                        <input type="text" id="candidate-name" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="position" class="form-label">Position<span class="text-danger">*</span></label>
                        <input type="text" id="position" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="level" class="form-label">Level<span class="text-danger">*</span></label>
                        <input type="text" id="level" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="recruiter" class="form-label">Recruiter Owner<span
                                class="text-danger">*</span></label>
                        <input type="text" id="recruiter" class="form-control" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="interview-info" class="form-label">Interview Info
                            <span class="text-danger">--Choose first--</span>
                        </label>
                        <select class="form-control" id="interviewSelect" onchange="enableFields()">
                            <option value="" disabled selected>Select interview info...</option>
                            <option th:each="interview : ${interviews}" th:value="${interview.interviewId}"
                                th:text="${interview.interviewinfo}">
                            </option>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="approver" class="form-label">Approver<span class="text-danger">*</span></label>
                        <select id="approver" name="approver" class="form-select" disabled>
                            <option value="" disabled selected>Select Approver</option>
                            <th:block th:each="m : ${managers}">
                                <option th:value="${m.getId()}"
                                    th:text="${m.getFullname()} + ' (' + ${m.getUsername()} + ')'"></option>
                            </th:block>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="contract-type" class="form-label">Contract Type<span
                                class="text-danger">*</span></label>
                        <select class="form-control" id="contractType" disabled>
                            <option value="">Select Contract Type</option>
                            <tr th:each="contracttype : ${contracttypes}">
                                <option th:value="${contracttype.categoryId}" th:text="${contracttype.categoryValue}">
                                </option>
                            </tr>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="department" class="form-label">Department<span class="text-danger">*</span></label>
                        <select class="form-control" id="department" disabled>
                            <option value="">Select Department</option>
                            <tr th:each="department : ${departments}">
                                <option th:value="${department.categoryId}" th:text="${department.categoryValue}">
                                </option>
                            </tr>
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="contract-period">Contract Period<span class="text-danger">*</span></label>
                        <div class="d-flex justify-content-around">
                            <div>
                                <span class="me-2">From:</span>
                                <input type="date" placeholder="DD/MM/YYYY" id="periodfrom" class="form-control"
                                    disabled>
                                <input type="hidden" id="contractFromAfterToday">
                                <p class="error text-danger"></p>
                            </div>
                            <div>
                                <span class="me-2">To:</span>
                                <input type="date" placeholder="DD/MM/YYYY" id="periodto" class="form-control" disabled>
                                <input type="hidden" id="contractToAfterFrom">
                                <p class="error text-danger"></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="due-date" class="form-label">Due Date<span class="text-danger">*</span></label>
                        <input type="date" id="duedate" class="form-control" disabled>
                        <input type="hidden" id="dueDateWithinPeriod">
                        <p class="error text-danger"></p>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="basic-salary" class="form-label">Basic Salary<span
                                class="text-danger">*</span></label>
                        <input type="text" id="salary" class="form-control" placeholder="Type basic salary..." disabled>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="note" class="form-label">Note</label>
                        <input type="text" id="OfferNote" class="form-control" placeholder="Type a note..." disabled>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="interview-notes" class="form-label">Interview Notes</label>
                        <textarea id="interview-notes" class="form-control" readonly></textarea>
                    </div>
                    <input type="hidden" id="interviewId" name="interviewId">
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
                </div>
            </div>
        </form>

        <!-- Success Modal -->
        <div id="successModal" class="modal-overlay">
            <div class="modal-content">
                <h3 th:text="${successMessage}"></h3>
                <div class="modal-buttons">
                    <a href="/api/v1/offer/offer-list">
                        <button class="btn btn-success">
                            Ok
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Fail Modal -->
        <div id="failModal" class="modal-overlay">
            <div class="modal-content">
                <h3 th:text="${errorMessage}"></h3>
                <div class="modal-buttons">
                    <button class="btn btn-danger" onclick="hideFailModal()">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </main>
    <link rel="stylesheet" type="text/css" th:href="@{/static/offer/css/offer_create.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/common/css/modal_success.css}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script th:src="@{/static/common/js/main.js}"></script>
    <script th:src="@{/static/offer/js/offer_create.js}"></script>
    <script th:src="@{/static/offer/js/offer_format.js}"></script>
    <script th:src="@{/static/offer/js/submit_offer.js}"></script>
    <script th:src="@{/static/common/js/display_errors.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>

</html>