/* Reset CSS */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 /* Body styles */
 body {
     font-family: Arial, sans-serif; /* Replace with your specific font */
     background-color: #f9f9f9; /* Light gray background */
 }
 
 /* Header styles */
 header {
     background-color: #828282; /* Your header color */
     padding: 20px;
     display: flex;
     align-items: center; /* Align items vertically center */
 }
 
 .header-container {
     display: flex;
     align-items: center;
     margin-right: 70px;
     flex-grow: 1; /* Allow the header to grow and occupy full width */
 }
 
 .logo {
     width: 50px; /* Adjust logo size */
     margin-right: 20px; /* Space between logo and text */
     flex-shrink: 0; /* Prevent shrinking */
     height: auto; /* Keep aspect ratio */
     border-radius: 10px; /* Adjust this value for more or less rounding */
 
 }
 
 /* Center text in the header */
 .header-title {
     flex-grow: 1; /* This allows the title to take up available space */
     text-align: center; /* Center align the title */
 }
 
 h1 {
     color: #fff; /* White text color */
     font-size: 24px;
 }
 
 /* Main content styles */
 main {
     padding: 50px 20px;
     display: flex;
     justify-content: center;
 }
 
 .reset-password-form {
     background: #fff; /* White background for the form */
     padding: 40px; /* Increased padding for larger form */
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     max-width: 600px; /* Increased max-width for a larger form */
     width: 100%; /* Allow the form to be full width up to max-width */
     text-align: center;
 }
 
 .reset-password-form h2 {
     font-size: 24px; /* Increased font size */
     margin-bottom: 10px;
     color: #28395a; /* Dark blue color */
 }
 
 .reset-password-form p {
     font-size: 14px;
     margin-bottom: 20px;
     color: #666; /* Gray color for instructions */
 }
 
 .reset-password-form label {
     font-size: 14px;
     color: #28395a;
     display: block;
     text-align: left;
     margin-bottom: 5px;
 }
 
 .reset-password-form input {
     width: 100%;
     height: 50px; /* Increased height for input fields */
     margin-bottom: 20px;
     padding: 0 10px;
     border: 1px solid #e5e6e9;
     border-radius: 5px;
     font-size: 16px; /* Increased font size for better readability */
 }
 
 .reset-password-form .reset-btn {
     width: 100%;
     height: 50px; /* Increased height for button */
     background: #1c1b1b; /* Button color */
     color: #fff;
     font-size: 16px; /* Increased font size for better readability */
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }
 
 .reset-password-form .reset-btn:hover {
     background: #676767; /* Darker shade on hover */
 }