<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Common Page</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/common/css/main.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/static/job/css/create_job.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/common/css/drop_list_multi_choice.css}" />

</head>

<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <div th:replace="fragments/header :: header"></div>

    <!-- Sidebar menu-->
    <div th:replace="fragments/menu :: menu"></div>

    <!-- Main Content -->
    <main class="app-content">
        <div>
            <h2>Job</h2>
        </div>
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item">
                    <a href="/api/v1/jobs/list-job">Job List</a> <!-- Mục đầu tiên: Candidate List -->
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="#" id="lin">Create Job</a> <!-- Mục thứ hai: Create Candidate -->
                </li>
            </ul>
        </div>

        <p id="error" class="text-danger" style="text-align: center;"></p>
        <p id="success" class="text-success" style="text-align: center;"></p>

        <div class="form-container">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="title" class="form-label">Job title <span class="text-danger">*</span></label>
                    <input th:value="${job != null ? job.title : ''}" type="text" id="title" name="title"
                        class="form-control" placeholder="Type a title....">
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="skills" class="form-label">Skills <span class="text-danger">*</span></label>
                    <select name="skills" id="skills" multiple>
                        <tr th:each="skill : ${skills}">
                            <option th:value="${skill.categoryId}" th:text="${skill.categoryValue}"
                                th:selected="${job != null && #strings.contains(job.skills, skill.categoryValue)}">
                            </option>
                        </tr>
                    </select>
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="startDate" class="form-label">Start Date <span class="text-danger">*</span></label>
                    <input th:value="${job != null ? job.startDate : ''}" type="date" id="startDate" name="startDate"
                        class="form-control">
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="endDate" class="form-label">End Date <span class="text-danger">*</span></label>
                    <input th:value="${job != null ? job.endDate : ''}" type="date" id="endDate" name="endDate"
                        class="form-control">
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="salaryFrom" class="form-label">Salary From</label>
                            <input th:value="${job != null ? job.salaryFrom : ''}" type="text" id="salaryFrom"
                                name="salaryFrom" class="form-control inputSalary">
                            <p class="error text-danger"></p>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="salaryTo" class="form-label">Salary To</label>
                            <input th:value="${job != null ? job.salaryTo : ''}" type="text" id="salaryTo"
                                name="salaryTo" class="form-control inputSalary">
                            <p class="error text-danger"></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 form-group">
                    <label for="benefits" class="form-label">Benefits <span class="text-danger">*</span></label>
                    <select id="benefits" name="benefits" multiple>
                        <tr th:each="benefit : ${benefits}">
                            <option th:value="${benefit.categoryId}" th:text="${benefit.categoryValue}"
                                th:selected="${job != null && #strings.contains(job.benefits, benefit.categoryValue)}">
                            </option>
                        </tr>
                    </select>
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="workingAddress" class="form-label">Working address</label>
                    <input th:value="${job != null ? job.workingAddress : ''}" type="text" id="workingAddress"
                        name="workingAddress" class="form-control" placeholder="Type an address">
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="level" class="form-label">Level <span class="text-danger">*</span></label>
                    <select id="level" name="level" multiple>
                        <tr th:each="level : ${levels}">
                            <option th:value="${level.categoryId}" th:text="${level.categoryValue}"
                                th:selected="${job != null && #strings.contains(job.level, level.categoryValue)}">
                            </option>
                        </tr>
                    </select>
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="description" class="form-label">Description </label>
                    <textarea th:text="${job != null ? job.description : ''}" name="description" id="description"
                        class="form-control" placeholder="Type description"></textarea>
                    <p class="error text-danger"></p>
                </div>
                <div class="col-md-6 form-group">
                    <label for="status" class="form-label">Status: </label>
                    <span id="status" th:text="${job != null ? job.status : 'Draft'}"></span>
                    <p class="error text-danger"></p>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4" id="button">
                <button type="button" class="btn btn-primary me-2" id="send-data">Submit</button>
                <button type="button" class="btn btn-secondary" id="back">Cancel</button>
            </div>
        </div>

        <!-- Success Modal -->
        <div id="successModal" class="modal-overlay">
            <div class="modal-content">
                <h3 th:text="${success}">Successfully created candidate</h3>
                <div class="modal-buttons">
                    <a href="/api/v1/jobs/list-job">
                        <button class="btn btn-success">
                            Ok
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <!-- Fail Modal -->
        <div id="failModal" class="modal-overlay">
            <div class="modal-content">
                <h3 th:text="${fail}">Failed to created candidate</h3>
                <div class="modal-buttons">
                    <button class="btn btn-danger" onclick="hideFailModal()">
                        Ok
                    </button>
                </div>
            </div>
        </div>

    </main>

    <link rel="stylesheet" type="text/css" th:href="@{/static/common/css/modal_success.css}"/>

<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXlZg2K2RJGv6hD6gPZrGFIH1Kp3g9zIdenqUewg+kq2aA/tlW1LNsE/lWX/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiH0eK6E4S8gaq2qkW2giKdf9/TV/rf9Wf3yDdiRIUmdXwB68jzWl7foI"
        crossorigin="anonymous"></script>
    <script th:src="@{/static/common/js/main.js}"></script>
    <script th:src="@{/static/common/js/drop_list_multi_choice.js}"></script>
    <script>
        //tạo select chọn được nhiều option
        new Drop_list_multi_choice("skills");
        new Drop_list_multi_choice("benefits");
        new Drop_list_multi_choice("level");
        // id

        $('#back').click(function () {
            window.location.href = "/api/v1/jobs/list-job";
        });

        $('#salaryFrom').val(formatScientificNumber($('#salaryFrom').val()));
        $('#salaryTo').val(formatScientificNumber($('#salaryTo').val()));

        function formatScientificNumber(number) {
            if(number === "" ) {
                return;
            }
            const integerNumber = Math.round(Number(number)).toString();
            return integerNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

    </script>
    <script th:src="@{/static/job/js/create_job.js}"></script>
</body>

</html>