<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Common Page</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

</head>

<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="fragments/header :: header"></div>

<!-- Sidebar menu-->
<div th:replace="fragments/menu :: menu"></div>

<!-- Main Content -->
<main class="app-content">
    <div>
        <h2>Job</h2>
    </div>
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item">
                <a href="/api/v1/jobs/list-job">Job List</a> <!-- Mục đầu tiên: Candidate List -->
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <a href="#">Job Detail</a> <!-- Mục thứ hai: Create Candidate -->
            </li>
        </ul>
    </div>
    <div class="view-container">
        <div class="row">
            <div class="col-md-6 info-row">
                <span class="label">Job title:</span>
                <span class="value" th:text="${job.title}">Business Analyst</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Skills:</span>
                <span class="value" th:text="${job.skills}">Java, Flutter, NodeJS</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Start Date:</span>
                <span class="value" th:text="${job.startDate}">12/12/1988</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">End Date:</span>
                <span class="value" th:text="${job.endDate}">12/12/2222</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Salary:</span>
                <span class="value">From </span>
                <span class="value" th:text="${job.salaryFrom}" id="salaryFrom"></span>
                <span class="value"> To </span>
                <span class="value" th:text="${job.salaryTo}" id="salaryTo"></span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Benefits:</span>
                <span class="value" th:text="${job.benefits}">Travel, 25duahw dw ad wad wad  awf waf awfwa faw fwa fwa faw faw faw</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Working address:</span>
                <span class="value" th:text="${job.workingAddress != '' ? job.workingAddress : 'N/A'}">FPT Tower</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Level:</span>
                <span class="value" th:text="${job.level}">Junior, Fresher</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Status:</span>
                <span class="value" th:text="${job.status}">Open</span>
            </div>
            <div class="col-md-6 info-row">
                <span class="label">Description:</span>
                <span class="value" th:text="${job.description != '' ? job.description : 'N/A'}">N/A</span>
            </div>
        </div>

        <div class="buttons">
            <button type="button" th:if="${user.roleId != 4}" class="btn btn-primary"><a
                    th:href="'/api/v1/jobs/edit-job/' + ${job.jobId}" style="color: white">Edit</a></button>
            <button type="button" class="btn btn-secondary" id="back">Cancel</button>
        </div>
    </div>

</main>


<link rel="stylesheet" type="text/css" th:href="@{/static/job/css/detail_job.css}"/>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script th:src="@{/static/common/js/main.js}"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXlZg2K2RJGv6hD6gPZrGFIH1Kp3g9zIdenqUewg+kq2aA/tlW1LNsE/lWX/"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiH0eK6E4S8gaq2qkW2giKdf9/TV/rf9Wf3yDdiRIUmdXwB68jzWl7foI"
        crossorigin="anonymous"></script>
<script>
    $('#back').click(function () {
        window.location.href = "/api/v1/jobs/list-job";
    });

    $('#salaryFrom').text(formatScientificNumber($('#salaryFrom').text()));
    $('#salaryTo').text(formatScientificNumber($('#salaryTo').text()));

    function formatScientificNumber(number) {
        const integerNumber = Math.round(Number(number)).toString();
        return integerNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    }
</script>
</body>
</html>
