a {
    text-decoration: none;
}

.user-avatar {
    border-radius: 50%;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px;
}

.profile-dropdown .dropdown-item {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.profile-dropdown .dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .profile-dropdown {
    display: block;
}

/* Center align all cells in the action column */
.action-column {
    text-align: center; /* Center align text and icons */
}

.page-link {
    color: black;
}

.no-underline {
    text-decoration: none !important; /* Ghi đè bằng !important nếu cần thiết */
}

.app-title {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Thêm khoảng cách dưới tiêu đề */
}

.breadcrumb {
    background: none; /* Xóa nền cho breadcrumb */
    padding: 0; /* Xóa padding */
}

.breadcrumb-item a {
    color: black; /* Màu chữ */
    text-decoration: none; /* Xóa gạch dưới */
    font-size: 1.1em; /* Kích thước chữ lớn hơn */
    font-weight: 600; /* Đậm chữ */
}

.breadcrumb-item a:hover {
    text-decoration: underline; /* Hiệu ứng gạch dưới khi di chuột */
}

.btn-custom {
    background-color: #9d9d9d; /* Màu nền cho nút */
    color: white; /* Màu chữ */
}

.btn-custom:hover {
    background-color: #9d9d9d; /* Màu nền khi di chuột */
}

.btn-custom-add {
    background-color: #9d9d9d; /* Màu nền cho nút Add Candidate */
    color: white; /* Màu chữ */
}

.btn-custom-add:hover {
    background-color: #9d9d9d; /* Màu nền khi di chuột */
}

body {
    background-color: #eaf3fc;
    font-family: 'Arial', sans-serif;
}

.form-container {
    margin: 50px auto;
    padding: 30px;
    background-color: lightgrey;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

h5 {
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 8px;
}

/* Form field styling */
.form-control, .form-select {
    border: 1px solid #ced4da;
    border-radius: 8px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.25);
    border-color: #007bff;
}

/* Custom Button Styling */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.1s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary:active {
    transform: scale(0.98);
}

.btn-secondary:hover {
    background-color: #6c757d;
}

/* Input group icon */
.input-group .btn-outline-secondary {
    border-radius: 0 8px 8px 0;
}

/* Assign link styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}