body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
}

.sidebar {
     position: fixed;
     left: 0;
     top: 0;
     width: 60px;
     height: 100vh;
     background-color: #dedddb87;
     overflow-x: hidden;
     transition: 0.3s;
}

.no-underline {
     text-decoration: none !important;
     /* Ghi đè bằng !important nếu cần thiết */
}

.sidebar ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

.sidebar li {
     text-align: center;
     padding: 1rem 0;
}

.sidebar a {
     display: block;
     color: white;
     padding: 16px;
     text-decoration: none;
     transition: 0.3s;
}

.sidebar a:hover {
     background-color: #555;
}

.sidebar i {
     font-size: 24px;
     transition: 0.3s;
     -webkit-text-stroke: 2px black;
}

.sidebar a:hover i {
     color: #0ca252;
}

.content {
     margin-left: 60px;
     padding: 20px;
}

.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}

.user-info {
     display: flex;
     align-items: center;
     gap: 20px;
}

.user-details {
     text-align: right;
}

.user-icon {
     font-size: 24px;
}

.login-logout {
     margin-left: 20px;
}

.login-logout a {
     text-decoration: none;
     color: #000000;
     font-weight: bold;
}

.login-logout a:hover {
     text-decoration: underline;
}

body {
     background: #000;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     font-family: Arial, sans-serif;
}

.clock-container {
     display: flex;
     gap: 20px;
}

.clock-item {
     position: relative;
     width: 300px;
     height: 300px;
     text-align: center;
}

.clock-item p {
     margin-top: 10px;
     font-size: 60px;
}

.circle {
     width: 300px;
     height: 300px;
     border: 5px solid rgba(255, 255, 255, 0.1);
     border-radius: 50%;
     position: absolute;
}

#hour-circle {
     border-top-color: pink;
     animation: rotate-hour 43200s linear infinite;
}

#minute-circle {
     border-top-color: yellow;
     animation: rotate-minute 3600s linear infinite;
}

#second-circle {
     border-top-color: lime;
     animation: rotate-second 60s linear infinite;
}

@keyframes rotate-hour {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}

@keyframes rotate-minute {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}

@keyframes rotate-second {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}

.period {
     font-size: 40px;
     margin-left: 10px;
     align-self: center;
}
