<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset</title>
    </head>
    <body>
        <div class="container">
            <!-- Wrap static text in single quotes -->
            <p class="greeting" th:text="'This email is from IMS system,'"></p>
            <p th:text="'Your account has been created. Please use the following credentials to login:'"></p>
            <ul> 
                <!-- Use Thymeleaf's |...| syntax for concatenation -->
                <li th:text="'User name: ' + ${email}|"></li>
                <li th:text="'Password: ' + ${password}|"></li>
            </ul>
            <p>Try login at https://jobnet.click/api/v1/auth/login</p>
            <p th:text="'If anything goes wrong, please reach out to recruiter ' + ${owner} + '. We are sorry for the inconvenience.'"></p>
            <p>Thanks & Regards!</p><br>
            <p>IMS Team.</p>
        </div>
    </body>
</html>
