
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Forgot Password | Job board HTML-5 Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />   
    <link rel="stylesheet" type="text/css" th:href="@{/static/user/css/forgot_password.css}" /> 
</head>

<body>
    <main>
        <div class="forgot-password-form-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="forgot-password-form">
                            <div class="forgot-password-header">    
                                <img class="logo" th:src="@{../static/assets/img/logo/dev.png}" alt="IMS Recruitment Logo">
                                <h3>IMS Recruitment</h3>
                            </div>
                            <p>Please enter your email and we’ll send you a link to get back your account</p>
                            <form id="forgotPasswordForm" th:action="@{forgot-password}" method="post" th:object="${User}">
                                <label for="email">Email:</label>
                                <input th:field="*{email}" type="email" id="email" placeholder="Input your email" />
                                <div class="submit-btn">
                                    <button type="submit">Send</button>
                                    <button type="button" class="cancel-btn" onclick="window.location.href='/api/v1/auth/login';">Cancel</button>
                                </div>
                            </form>
                            <div th:if="${message != null}" >
                                <p th:text="${message}" th:class="${flag} ? 'successMessage' : 'errorMessage'"
                                th:style="${flag} ? 'color: green' : 'color: red'"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

  
</body>

</html>
