<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/assets/css/auth/mycss.css}">
    <link rel="stylesheet" th:href="@{/static/user/css/reset_password.css}">
    <title>Reset Password | IMS Recruitment</title>
</head>
<body>
<header>
    <div class="header-container">
        <img th:src="@{/static/assets/img/logo/dev.png}" alt="IMS Recruitment Logo" class="logo">
        <h1 class="header-title">IMS Recruitment</h1>
    </div>

</header>

<main>
    <div class="reset-password-form">
        <h2>Reset Password</h2>
        <p>Please set your new password</p>
        <form id="resetPasswordForm" th:action="@{reset-password}" method="post">
            <label for="password">New Password:</label>
            <input type="hidden" name="uuid" th:value="${uuid}">
            <input type="password" name="newPassword" id="password" placeholder="Enter new password" required>
            <span id="password-feedback" style="color:red;"></span>
            <br>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="newConfirmPassword" id="confirmPassword" placeholder="Confirm new password" required>
            <span id="confirmPassword-feedback" style="color:red;"></span>
            <br>
            <button type="submit" id="submitBtn" class="reset-btn">Reset</button>
        </form>
        <p id="error-message" style="color:red;"></p>
        <div id="successPopup" class="popup-overlay" style="display: none;">
            <div class="popup-content">
                <div style="text-align: center; font-size: 3em; color: green;">
                    &#10004;
                </div>
                <h4 style="text-align: center;">Password reset successfully, please login again.</h4>
            </div>
        </div>
    </div>
   
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/static/user/js/reset_password.js}"></script>  
</body>
</html>
