<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset</title>
    </head>
    <body>
        <div class="container">
            <p class="greeting" th:text="'We have just received a password reset request for ' + ${email}"></p>
            <p th:text="'Please click here to reset your password. ' + ${URL} "></p>
            <p>For your security, the link will expire in 24 hours or immediately after you reset your password. </p>
            <p>Thanks & Regards!</p><br>
            <p>IMS Team.</p>
        </div>
    </body>
</html>

