<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
     <title>Common Page</title>
     <meta charset="utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />
     <!-- Main CSS-->
     <link rel="stylesheet" type="text/css" th:href="@{/static/interview/css/interview_info.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/static/interview/css/interview_list.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/static/assets/css/drop_list_multi_choice.css}" />
     <link rel="stylesheet" type="text/css" th:href="@{/static/common/css/modal_success.css}" />
     <!-- Main JS -->
     <script th:src="@{/static/common/js/main.js}"></script>
     <script th:src="@{/static/interview/js/detail_interview.js}"></script>
     <script th:src="@{/static/common/js/drop_list_multi_choice.js}"></script>
     <script th:src="@{/static/interview/js/common_interview.js}"></script>
     <script th:src="@{/static/common/js/display_errors.js}"></script>
</head>

<body class="app sidebar-mini rtl">
     <!-- Navbar-->
     <div th:replace="fragments/header :: header"></div>
     <!-- Sidebar menu-->
     <div th:replace="fragments/menu :: menu"></div>
     <main class="app-content">
          <div>
               <h2>Interview Schedule</h2>
          </div>
          <div class="app-title">
               <ul class="app-breadcrumb breadcrumb side">
                    <li class="breadcrumb-item">
                         <a th:href="@{/interview}">Interview Schedule List</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                         <a href="javascript:void(0)" onclick="window.location.reload()">Schedule Details</a>
                    </li>
               </ul>
          </div>

          <div class="mt-4 d-flex justify-content-end">
               <button type="button" class="btn btn-primary me-2" onclick="sendReminder()" id="reminder-button"
                    th:disabled="${interview.status == 'Closed' || interview.status == 'Cancelled'}">
                    Send Reminder
               </button>
          </div>

          <!-- <form> -->
          <div class="view-container">
               <div class="row">
                    <!-- Left Column -->
                    <div class="col-md-6">
                         <!-- Schedule title -->
                         <div class="info-row">
                              <span class="label">Schedule title:</span>
                              <span class="value" th:text="${interview.interview_title}"></span>
                         </div>

                         <!-- Candidate -->
                         <div class="info-row">
                              <span class="label">Candidate:</span>
                              <span class="value" th:text="${candidate}"></span>
                         </div>

                         <!-- Schedule Time -->
                         <div class="info-row time-container">
                              <div class="mb-1">
                                   <span class="label">Schedule:</span>
                                   <span class="value time-title" th:text="${interview.interview_schedule}"></span>
                              </div>
                              <div class="time-indent">
                                   <span>From</span>
                                   <span class="value" th:text="${interview.startTime}"></span>
                                   <span> to</span>
                                   <span class="value" th:text="${interview.endTime}"></span>
                              </div>
                         </div>

                         <!-- Notes -->
                         <div class="info-row">
                              <span class="label">Note:</span>
                              <span class="value" th:text="${interview.note}"></span>
                         </div>
                    </div>

                    <!-- Right Column -->
                    <div class="col-md-6">
                         <!-- Select Job -->
                         <div class="info-row">
                              <span class="label">Job:</span>
                              <span class="value" th:text="${job}"></span>
                         </div>

                         <!-- Select Interviewers -->
                         <div class="info-row">
                              <span class="label">Interviewers:</span>
                              <span class="value" th:text="${interviewers}"></span>
                         </div>

                         <!-- Location -->
                         <div class="info-row">
                              <span class="label">Location:</span>
                              <span class="value" th:text="${interview.interview_location}"></span>
                         </div>

                         <!-- Recruiter -->
                         <div class="info-row">
                              <span class="label">Recruiter:</span>
                              <span class="value" th:text="${recruiter}"></span>
                         </div>

                         <!-- Meeting Link -->
                         <div class="info-row">
                              <span class="label">Meeting ID:</span>
                              <span class="value" th:text="${interview.meetingLink}"></span>
                         </div>

                         <!-- Result -->
                         <div class="info-row">
                              <span class="label">Result:</span>
                              <span class="value" th:text="${result == null || result == '' ? 'N/A' : result}"></span>
                         </div>

                         <!-- Status -->
                         <div class="info-row">
                              <span class="label">Status:</span>
                              <span class="value" th:text="${interview.status}"></span>
                         </div>
                    </div>
               </div>

               <!-- Buttons Section -->
               <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary me-2" id="process-button"
                         th:disabled="${interview.status == 'Closed' || interview.status == 'Cancelled'}">
                         Button
                    </button>
                    <button onclick="goPrev()" class="btn btn-secondary">
                         Cancel
                    </button>
               </div>
               <p id="error" class="text-danger" style="text-align: center; display: none;">Save Interview
                    Unsuccessfully</p>
               <p id="success" class="text-success" style="text-align: center; display: none;">Save Interview
                    Successfully</p>
          </div>
          <div id="sendReminderModalSuccess" class="modal-overlay">
               <div class="modal-content">
                    <h4>Reminder sent successfully</h4>
                    <div class="modal-buttons">
                         <button class="btn btn-success" onclick="redirectToMain()">
                              OK
                         </button>
                    </div>
               </div>
          </div>
     
          <div id="sendReminderModalError" class="modal-overlay">
               <div class="modal-content">
                    <h4>Reminder sent unsuccessfully</h4>
                    <div class="modal-buttons">
                         <button class="btn btn-danger" onclick="closeModal('sendReminderModalError')">
                              OK
                         </button>
                    </div>
               </div>
          </div>
     </main>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</body>

</html>