* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #828282;
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    margin-right: 70px;
    flex-grow: 1;
}

.logo {
    width: 50px;
    margin-right: 20px;
    flex-shrink: 0;
    height: auto;
    border-radius: 10px;
}

.header-title {
    flex-grow: 1;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 24px;
}

main {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
}

.not-found-container {
    text-align: center;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.not-found-container h2 {
    font-size: 36px;
    color: #28395a;
    margin-bottom: 20px;
}

.not-found-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.back-home-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #1c1b1b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.back-home-btn:hover {
    background-color: #676767;
}